@*Views/Home/About.cshtml*@

@model MVCAssignment.Models.Home
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1>About</h1>

<h2>Pier S. Finnfors</h2>

<h2><a href="https://github.com/PFinnfors" target="_blank">GitHub</a></h2>

<h3 style="text-decoration:underline">Finished projects include:</h3>
<div style="font-style:italic">
    <p>Calculator (C# Console app)</p>
    <p>Golf Game (C# Console game)</p>
    <p>Vending Machine (C# Console app)</p>
</div>