@*Views/Home/Contact.cshtml*@

@model MVCAssignment.Models.Home
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1>Contact</h1>

<span>eMail me at: <a href="mailto:pier@live.se" target="_top">pier@live.se</a></span>